<div class="container-fluid">
<div class="row" >
<div class="col">
    <div class="search-hero">
    <div class="search-container" >
        <input  placeholder="Search objects.." type="text" class="form-control"
            (keyup)="filterItems()" name="searchText" [(ngModel)]="form.searchText" required #searchText="ngModel" />
        <span class="search-icon"><i class="fa fa-search"></i></span>
    </div>
    <button  class="filter-button btn btn-secondary" type="button">
        <i class="fa fa-filter"></i>
    </button>
</div>
</div>
<div class="col btn-container">
    <button (click)="open(content)"  class="btn btn-secondary bg-btn-add" type="button" >
        <i class="fa fa-plus"></i> Yeni Hesap Ekle
    </button>
</div>
</div>
<div class="data-table">
<table datatable [dtOptions]="dtOptions" class="table table-striped">
    <thead>
        <tr>
            <th>Sosyal Medya Linki</th>
            <th>Sosyal Medya Adı</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of filteredData">
            <td>{{ row.socialMediaLink }}</td>
            <td>{{ row.socialMediaName }}</td>
            <td>{{ row.description }}</td>
        </tr>
    </tbody>

</table>
</div>
</div>

  <ng-template #content let-modal>
	<div class="modal-header" >
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="socialForm" (ngSubmit)="submitForm(newSocialMedia)" >
            <div class="form-group">
                <label for="socialMediaLink">Sosyal Medya Linki:</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="socialMediaLink" id="socialMediaLink" name="socialMediaLink" [(ngModel)]="newSocialMedia.socialMediaLink" />
				</div>
                <label for="socialMediaName">Sosyal Medya Adı:</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="socialMediaName" id="socialMediaName" name="socialMediaName" [(ngModel)]="newSocialMedia.socialMediaName" />
				</div>
                <label for="description">Açıklama:</label>
                <div class="input-group">
                    <input class="form-control" type="text" formControlName="description" id="description" name="description" [(ngModel)]="newSocialMedia.description" />
				</div>
			</div>
       
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark bg-btn-cancel" (click)="modal.close('Save click')">Vazgeç</button>
        
                <button type="button" class="btn btn-outline-dark bg-btn-save"  type="submit">Kaydet</button>
               
            </div>
		</form>
	</div>
	
</ng-template>




